.page_feedback {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.page_feedback span {
  padding: 0 1.5%;
}

.page_feedback > .content {
  height: 100%;
  width: 100%;
}

.page_feedback > .content > .header {
  align-items: center;
  background-color: gainsboro;
  display: flex;
  height: 5%;
  justify-content: space-between;
  padding: 2% 3%;
  width: 100%;
}

.page_feedback .header > p {
  font-size: 0.8em;
}

.page_feedback .pontos {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  width: 35%;
}

.page_feedback > .content .material-icons {
  background-color: black;
  border-radius: 20px;
  font-size: 0.8em;
  margin: 0 8%;
  margin-right: 0;
}

.page_feedback .body > .title {
  margin: 3% 0;
  text-align: center;
}

.page_feedback .body p {
  width: 20%;
}

.page_feedback .body div:nth-of-type( 1 ) {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1%;
  margin-bottom: 10%;
}

.page_feedback .body div:nth-of-type( 2 ) {
  display: flex;
  flex-direction: column;
}

.page_feedback .body div:nth-of-type( 2 ) button:nth-of-type( 1 ) {
  background-color: gainsboro;
  border-style: none;
  cursor: pointer;
  margin: 2% auto;
  padding: 2%;
  width: 50%;
}

.page_feedback .body div:nth-of-type( 2 ) button:nth-of-type( 2 ) {
  background-color: lawngreen;
  border-style: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 2%;
  width: 50%;
}
