
.comp_dropdown > .selected {
  border-color: black;
  border-style: solid;
  display: flex;
  border-width: 1px;
  justify-content: center;
  height: 25px;
  position: relative;
}

.comp_dropdown > .selected > p {
  text-align: center;
  margin: auto;
}

.comp_dropdown > .selected > button {
  cursor: pointer;
  background-color: white;
  border-style: none;
  height: 80%;
  margin: 1% 4%;
  padding: 0;
  position: absolute;
  right: 0;
  width: 10%;
}

.comp_dropdown > .selected > button:focus {
  outline: none;
}

.comp_dropdown > .selected > button > .material-icons {
  height: 100%;
  width: 100%;
}

.comp_dropdown > .list {
  display: none;
  flex-direction: column;
}

.comp_dropdown > .list > button {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  width: 100%;
}

.comp_dropdown > .list > button:hover {
  background-color: black;
  color: white;
}
