.login_campo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 47px;
  margin: auto;
}

.login_campo > input {
  box-sizing: border-box;
  font-size: 25px;
  height: 76px;
  width: 300px;
}

.login_campo > label {
  height: 47px;
  margin: 0;
  width: 325px;
}
.btn-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-jogar {
  align-items: center;
  background: rgb(134, 214, 96);
  font-size: 20px;
  height: 55px;
  margin-top: 10px;
  width: 300px;
}

.settingsBtn {
  display: flex;
  left: 30px;
  width: 50px;
}

.settingsIcon {
  margin-top: 10px;
  width: 40px;
}

.settingsDiv {
  display: flex;
  justify-content: flex-end;
  margin-left: 800px;
}

button:disabled {
  background: rgb(61, 90, 47);
}

label {
  text-align: center;
}

.trivia {
  align-items: center;
  display: block;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 300px;
  display: block;
}