.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.ranking-results {
  border: solid 1px red;
  height: 300px;
  justify-content: center;
  margin: auto;
  width: 800px;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgb(196, 196, 196);
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  height: 49px;
  line-height: 47px;
  padding: 8px;
  width: 625px;
}

.gravatar-img {
  position: absolute;
  width: 34px;
  height: 34px;
}

.nome-jogador {
  font-size: 20px;
}
