.flex-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  width: 100%;
}

.answer-content {
  background: rgb(196, 196, 196);
  font-size: 1.6em;
  text-align: center;
}

.correct-answer:disabled {
  background-color: green;
  color: black;
}

.incorrect-answer:disabled {
  background-color: red;
  color: black;
}

.focused-correct-answer:disabled {
  background-color: green;
  border: 2px solid blue;
  color: black;
}

.focused-incorrect-answer:disabled {
  background-color: red;
  border: 2px solid blue;
  color: black;
}
